@import "tailwindcss";

/* Custom Scrollbar Logic */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Removes the white background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #56717d; /* Zinc-700 charcoal color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #56717d; /* Zinc-600 color when hovering */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #56717d transparent;
}